@model Team_5_Project.Models.ReportsViewModel
@{
    ViewBag.Title = "SeatReportResult";
}

<h2>Report: Seats Sold</h2>

<h2>RoundTripFlightSearchResults</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateRangeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRangeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureCities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatType)
        </th>
        <th>
            Seats:
        </th>
    </tr>
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.DateRangeStart)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.DateRangeEnd)
            </td>
            <td>

            @foreach (var item in Model.DepartureCities)
             {
                @Html.DisplayFor(Model => item.CityName)
             }
            </td>

            <td>
                @Html.DisplayFor(Model => Model.Route.RouteName)
            </td>
            <th>
                @Html.DisplayFor(model => model.SeatType.Name)
            </th>
            <td>
                @Html.DisplayFor(Model => Model.Seats.Count)
            </td>
        </tr>

</table>
