@model Team_5_Project.Models.Flight

@{
    ViewBag.Title = "CheckIn";
}
 
<div>
    <h4>Customers needing to Check In</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightNumber.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.FlightNumber.startCity.Airport)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.FlightNumber.Route.Cities.Where(c => c.CityID != model.FlightNumber.startCity.CityID).ToList()[0].Airport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualFare)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.ActualFare)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Seat Name
            </th>

            <th>
                Customer First Name
            </th>

            <th>
                Customer Last Name
            </th>

            <th>
                Checked In?
            </th>
        </tr>


        @foreach (var seat in Model.Seats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => seat.SeatName)
                </td>
                <td>
                    @if (seat.Ticket != null)
                {
                        @Html.DisplayFor(Model => seat.Ticket.Customer.FirstName)
                    }
                    else
                    {
                        @Html.DisplayText("Empty")
                    }
                </td>
                <td>
                    @if (seat.Ticket != null)
                {
                        @Html.DisplayFor(Model => seat.Ticket.Customer.LastName)
                    }
                    else
                    {
                        @Html.DisplayText("Empty")
                    }
                </td>
                <td>

                    @if (seat.Ticket != null) {
                        if (seat.Ticket.CheckedIn) { @Html.DisplayFor(Model => seat.Ticket.CheckedIn)}
                            else { @Html.ActionLink("Check In", "CheckInPerson", new { id = Model.FlightID, ticketid = seat.Ticket.TicketID })} }
                        else { @Html.DisplayText("Empty")}

                </td>
            </tr>

        }
        @Html.ActionLink("Depart This Flight", "DepartFlight", new { flightid = Model.FlightID })
    </table>
    @Html.ActionLink("Return to Flights", "Index")
    

</div>