@model IEnumerable<Team_5_Project.Models.Flight>

@{
    ViewBag.Title = "Search Results";
}

<h2>Index</h2>

<table class="table">
    <li>@Html.ActionLink("One Way Flight Search", "FlightSearch", "Flights", new { area = "" }, new { @class = "navbar-brand" })</li>
    <li>@Html.ActionLink("Round Trip Flight Search", "RoundTripFlightSearch", "Flights", new { area = "" }, new { @class = "navbar-brand" })</li>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber.Number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FlightID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FlightID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FlightID })
            </td>
        </tr>
    }

</table>

