@model IEnumerable<Team_5_Project.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New City", "Create", "Cities")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cities)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Miles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cities.ToList()[0].Airport)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Cities.ToList()[1].Airport)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Miles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteID }) |
        </td>
    </tr>
}

</table>
